@use "../../utils/mixins";
@use "../../utils/variables";

.secure {

  height: calc( ( var(--vh, 1vh) * 100) - 67px);
  width: 100%;
  

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  &__section {

    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin-top: 200px;
    
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 680px) {
      flex-direction: row;
    }

  }

  &__content-container {
    flex-grow: 0;
    flex-basis: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    
  }

  &__content {
    padding: 0 478px 0 0px;
    display: flex;
    flex-direction: column;
    

    @media (max-width: 320px){
      padding: 0 40px 0 40px;
    }
    
  }

  &__text {
    line-height: 25px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 11px;
    font-size: 15px;
    color: #8B929E;

    @media (max-width: 320px) {
      padding: 0px 0px 0px 0px;
      line-height: 15px;
      font-size: 15px;
    }
    
  }

  &__subtitle {
    color: #535050;
    @include mixins.font("Inter", 300, 1.75rem, 100%);

    @media screen and (min-width: 680px){
      font-size: 2.25rem;
    }
  }

  
  

  &__responsiveTitle{
    text-align: center;
    margin-top: 100px;
    text-align: start;

    @media  (max-width: 700px){
      font-size: 2.5rem;
      margin-top: 0px;
    }
  }


  &__title {
    
    font-size:40px; 
    color: #3D3D3D; 
    padding: 70px 0px 20px 0px;

    @media (max-width: 700px) {
      padding: 20px 0px 20px 0px;
      font-size: 25px;
    }
  }

  &__titleSecon {
    font-size: 30px; 
    color:#CBCCCF; 
    margin: 0px 0px 15px 0px;  

    @media  (max-width: 320px){
      font-size: 2.5rem;

    } 
  }


  &__img-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 100%;
    

    @media (max-width: 700px) {
      margin-bottom: 0px;
    }
  }

  &__img {
    //background-color: red;
    flex: 1;

    background-image: url("/public/img/5images.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    margin-bottom: 50px;
    width: 100%;

    @media (max-width: 700px) {
      margin-bottom: 30px;
    }

    
  }

  &__search-btn {
    background: #4C9FFE;
    border : none;
    padding: 18px 45px 18px 45px;
    color: #ffffff;
    border-radius: 7px;
    margin: 0px 15px 25px 0px;

    &:hover {
      background: #cecece;
      cursor: pointer;
    }

    @media (max-width: 320px){
      margin: 0 50px 0 50px;
      padding: 5px 0 5px 0;
      
    }
  }

  
}
